body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    overflow:hidden;
    height: 100vh;
    background-color: #f0f0f0;
    transition: ease-in-out 0.7s;
}

#message-container {  
    /* position:relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    vertical-align: middle;
    transform: translateY(0%);
    transition: ease-in-out 0.7s;
    opacity: 0;
    width: 20vw; 
    height: 25vh; 
    /* overflow-y: auto;
    overflow-x: hidden; */
} 
#title-container{
   z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    flex-direction: column;
    /* transform: translateY(50%); */
    transition: ease-in-out 0.7s;
}
#title-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    flex-direction: column;
    gap:70px;
    /* transform: translateY(0%); */
    transition: ease-in-out 0.7s;
}
#container-2 > h2{
    opacity: 0;
    transition: ease-in-out 0.7s;
}
#container-2{
    display: flex;
    flex-direction: row;
    gap:80px;
    opacity: 0;
    /* border: 1px solid black; */
    transition: ease-in-out 0.7s;
}


#stream{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(58, 86, 110);
    height:18px;
    padding: 5px;
    background: #0288d1;
    transform: scale(2) translate(0,9px);
    border-radius: 20px;
    font-size: 18px;
}

#status{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(58, 86, 110);
    height:18px;
    padding: 5px;
    background: #7c7c7c;
    border-radius: 20px;
    font-size: 18px;
}
button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #0288d1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.7s;
    font-size: 20px;
}

.response{
    width: inherit;
    height: inherit;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    transition: ease-in-out 0.7s;
    /* border: 1px solid black; */
}
.user{
    /* flex-grow: 1; */
   
    /* border: 1px solid black; */
    display: flex;
    /* width: 100%; */
    justify-content: start;
}
.user>div{
    padding:10px;
    border-radius: 20px;
    background-color: bisque;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.326);
    text-align: left;
    margin: 20px;
    width: 50%;
}
.assistant{
    /* flex-grow: 2; */
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    justify-content: end;
    align-items: end;
    margin: 20px;
    /* text-align: right; */
    flex-direction: column;

}
.assistant>div{
    padding:10px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.573);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    text-align: left;
    margin: 20px 20px;
    width: 70%;
}

.image_process{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-radius: 20px;
    background-color: gray;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.173); */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    height: 500px;
    width: 700px;
}

img{
    height: inherit;
    max-width: 100%;
}