<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Assistant</title>
    <link href="static/mystyle.css" rel="stylesheet">
  
    <script src="https://kit.fontawesome.com/33036627a7.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="recorder-container">
       <div id="title-container">
        <h2>AI Assistant</h2>
        <button id="start-mic">Start</button>
       </div>
       <div class="response">
       
      </div>
    </div>

    
    <div id="container-2">
              <h2>AI Assistant</h2> 
              <div id="stream"><i class="fa-sharp fa-solid fa-circle-notch fa-spin"></i></div>
              <h2>Listening ...</h2>
    </div>
    <div id="status"></div>

<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script type="text/javascript" src="static/script.js"></script>
</body>
</html>
