<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Assistant</title>
    <link href="static/mystyle.css" rel="stylesheet">
  
    <script src="https://kit.fontawesome.com/33036627a7.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="status"></div>
    <div id="message-container">
       <div id="title-container">
        <h2>AI Assistant</h2>
        <input id="uname" type="name" placeholder="User name ..." autocomplete="off"/>
        <button id="start-mic" type="submit">Start</button>
       </div>
       <div class="response">
         
      </div>
    </div>

    
    <div id = "send-container">
        <div id='writer'>
            <textarea rows="10" cols="30" placeholder="Type ..."></textarea>
            <div id="send"><i class="fa-solid fa-location-arrow"></i></div>
        </div>

        <div id="listener">
            <h2>AI Assistant</h2> 
            <div><div id="stream"><i class="fa-solid fa-microphone"></i></div></div>
            <h2>Listening ...</h2>
       </div>
      
        <div id = "fa-keyboard"><i class="fa-solid fa-keyboard"></i></div>
    </div>
    

<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script type="text/javascript" src="static/script.js"></script>
</body>
</html>
